$font : 'Nunito', sans-serif;

$light: 300;
$normal: 400;
$semi: 600;
$bold: 700;


// General Colors
$primaryColor: #4886FF;

// Gradient Colors
$gradientDark: #384DFF;
$gradientLight: #24CDFF;

//Heading Color
$headingDark: #3B566E;
$headingLight: #ffffff;

// Text Colors
$textDark: #6F8BA4;
$textLight: #F7F8FF;